div {
    border: 1px solid black;
}

#main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#section-logo {
    flex: 3;
}

#logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section-form-parent {
    flex: 5;
    display: flex;
    flex-direction: column;
}

#section-form-upper,
#section-form-lower {
    flex: 7;
}

#section-form-main {
    flex: 6;
}

/* Photo by <a href="https://unsplash.com/@ianliberry?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ian Liberry</a> on <a href="https://unsplash.com/photos/a-beautiful-sunset-over-a-lake-with-mountains-in-the-background-TCrxDRwS1Zs?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
       */